/*red*/
$red: #F44336;

$red_lighten_5: #FFEBEE;
$red_lighten_4: #FFCDD2;
$red_lighten_3: #EF9A9A;
$red_lighten_2: #E57373;
$red_lighten_1: #EF5350;

$red_darken_1: #E53935;
$red_darken_2: #D32F2F;
$red_darken_3: #C62828;
$red_darken_4: #B71C1C;

$red_accent_1: #FF8A80;
$red_accent_2: #FF5252;
$red_accent_3: #FF1744;
$red_accent_4: #D50000;

/*pink*/
$pink: #E91E63;

$pink_lighten_5: #FCE4EC;
$pink_lighten_4: #F8BBD0;
$pink_lighten_3: #F48FB1;
$pink_lighten_2: #F06292;
$pink_lighten_1: #EC407A;

$pink_darken_1: #D81B60;
$pink_darken_2: #C2185B;
$pink_darken_3: #AD1457;
$pink_darken_4: #880E4F;

$pink_accent_1: #FF80AB;
$pink_accent_2: #FF4081;
$pink_accent_3: #F50057;
$pink_accent_4: #C51162;

/*purple*/
$purple: #9C27B0;

$purple_lighten_5: #F3E5F5;
$purple_lighten_4: #E1BEE7;
$purple_lighten_3: #CE93D8;
$purple_lighten_2: #BA68C8;
$purple_lighten_1: #AB47BC;

$purple_darken_1: #8E24AA;
$purple_darken_2: #7B1FA2;
$purple_darken_3: #6A1B9A;
$purple_darken_4: #4A148C;

$purple_accent_1: #EA80FC;
$purple_accent_2: #E040FB;
$purple_accent_3: #D500F9;
$purple_accent_4: #AA00FF;

$deep_purple: #673AB7;
$deep_purple_lighten_5: #EDE7F6;
$deep_purple_lighten_4: #D1C4E9;
$deep_purple_lighten_3: #B39DDB;
$deep_purple_lighten_2: #9575CD;
$deep_purple_lighten_1: #7E57C2;

$deep_purple_darken_1: #5E35B1;
$deep_purple_darken_2: #512DA8;
$deep_purple_darken_3: #4527A0;
$deep_purple_darken_4: #311B92;

$deep_purple_accent_1: #B388FF;
$deep_purple_accent_2: #7C4DFF;
$deep_purple_accent_3: #651FFF;
$deep_purple_accent_4: #6200EA;

/*indigo*/
$indigo: #3F51B5;

$indigo_lighten_5: #E8EAF6;
$indigo_lighten_4: #C5CAE9;
$indigo_lighten_3: #9FA8DA;
$indigo_lighten_2: #7986CB;
$indigo_lighten_1: #5C6BC0;

$indigo_darken_1: #3949AB;
$indigo_darken_2: #303F9F;
$indigo_darken_3: #283593;
$indigo_darken_4: #1A237E;

$indigo_accent_1: #8C9EFF;
$indigo_accent_2: #536DFE;
$indigo_accent_3: #3D5AFE;
$indigo_accent_4: #304FFE;

/*blue*/
$blue: #2196F3;

$blue_lighten_5: #E3F2FD;
$blue_lighten_4: #BBDEFB;
$blue_lighten_3: #90CAF9;
$blue_lighten_2: #64B5F6;
$blue_lighten_1: #42A5F5;

$blue_darken_1: #1E88E5;
$blue_darken_2: #1976D2;
$blue_darken_3: #1565C0;
$blue_darken_4: #0D47A1;

$blue_accent_1: #82B1FF;
$blue_accent_2: #448AFF;
$blue_accent_3: #2979FF;
$blue_accent_4: #2962FF;

/*light blue*/
$light_blue: #03A9F4;

$light_blue_lighten_5: #E1F5FE;
$light_blue_lighten_4: #B3E5FC;
$light_blue_lighten_3: #81D4FA;
$light_blue_lighten_2: #4FC3F7;
$light_blue_lighten_1: #29B6F6;

$light_blue_darken_1: #039BE5;
$light_blue_darken_2: #0288D1;
$light_blue_darken_3: #0277BD;
$light_blue_darken_4: #01579B;

$light_blue_accent_1: #80D8FF;
$light_blue_accent_2: #40C4FF;
$light_blue_accent_3: #00B0FF;
$light_blue_accent_4: #0091EA;

/*cyan*/
$cyan: #00BCD4;

$cyan_lighten_5: #E0F7FA;
$cyan_lighten_4: #B2EBF2;
$cyan_lighten_3: #80DEEA;
$cyan_lighten_2: #4DD0E1;
$cyan_lighten_1: #26C6DA;

$cyan_darken_1: #00ACC1;
$cyan_darken_2: #0097A7;
$cyan_darken_3: #00838F;
$cyan_darken_4: #006064;

$cyan_accent_1: #84FFFF;
$cyan_accent_2: #18FFFF;
$cyan_accent_3: #00E5FF;
$cyan_accent_4: #00B8D4;

/*teal*/
$teal: #009688;

$teal_lighten_5: #E0F2F1;
$teal_lighten_4: #B2DFDB;
$teal_lighten_3: #80CBC4;
$teal_lighten_2: #4DB6AC;
$teal_lighten_1: #26A69A;

$teal_darken_1: #00897B;
$teal_darken_2: #00796B;
$teal_darken_3: #00695C;
$teal_darken_4: #004D40;

$teal_accent_1: #A7FFEB;
$teal_accent_2: #64FFDA;
$teal_accent_3: #1DE9B6;
$teal_accent_4: #00BFA5;

/*green*/
$green: #4CAF50;

$green_lighten_5: #E8F5E9;
$green_lighten_4: #C8E6C9;
$green_lighten_3: #A5D6A7;
$green_lighten_2: #81C784;
$green_lighten_1: #66BB6A;

$green_darken_1: #43A047;
$green_darken_2: #388E3C;
$green_darken_3: #2E7D32;
$green_darken_4: #1B5E20;

$green_accent_1: #B9F6CA;
$green_accent_2: #69F0AE;
$green_accent_3: #00E676;
$green_accent_4: #00C853;

/*light green*/
$light_green: #8BC34A;

$light_green_lighten_5: #F1F8E9;
$light_green_lighten_4: #DCEDC8;
$light_green_lighten_3: #C5E1A5;
$light_green_lighten_2: #AED581;
$light_green_lighten_1: #9CCC65;

$light_green_darken_1: #7CB342;
$light_green_darken_2: #689F38;
$light_green_darken_3: #558B2F;
$light_green_darken_4: #33691E;

$light_green_accent_1: #CCFF90;
$light_green_accent_2: #B2FF59;
$light_green_accent_3: #76FF03;
$light_green_accent_4: #64DD17;

/*lime*/
$lime: #CDDC39;

$lime_lighten_5: #F9FBE7;
$lime_lighten_4: #F0F4C3;
$lime_lighten_3: #E6EE9C;
$lime_lighten_2: #DCE775;
$lime_lighten_1: #D4E157;

$lime_darken_1: #C0CA33;
$lime_darken_2: #AFB42B;
$lime_darken_3: #9E9D24;
$lime_darken_4: #827717;

$lime_accent_1: #F4FF81;
$lime_accent_2: #EEFF41;
$lime_accent_3: #C6FF00;
$lime_accent_4: #AEEA00;

/*yellow*/
$yellow: #FFEB3B;

$yellow_lighten_5: #FFFDE7;
$yellow_lighten_4: #FFF9C4;
$yellow_lighten_3: #FFF59D;
$yellow_lighten_2: #FFF176;
$yellow_lighten_1: #FFEE58;

$yellow_darken_1: #FDD835;
$yellow_darken_2: #FBC02D;
$yellow_darken_3: #F9A825;
$yellow_darken_4: #F57F17;

$yellow_accent_1: #FFFF8D;
$yellow_accent_2: #FFFF00;
$yellow_accent_3: #FFEA00;
$yellow_accent_4: #FFD600;

/*amber*/
$amber: #FFC107;

$amber_lighten_5: #FFF8E1;
$amber_lighten_4: #FFECB3;
$amber_lighten_3: #FFE082;
$amber_lighten_2: #FFD54F;
$amber_lighten_1: #FFCA28;

$amber_darken_1: #FFB300;
$amber_darken_2: #FFA000;
$amber_darken_3: #FF8F00;
$amber_darken_4: #FF6F00;

$amber_accent_1: #FFE57F;
$amber_accent_2: #FFD740;
$amber_accent_3: #FFC400;
$amber_accent_4: #FFAB00;

/*orange*/
$orange: #FF9800;

$orange_lighten_5: #FFF3E0;
$orange_lighten_4: #FFE0B2;
$orange_lighten_3: #FFCC80;
$orange_lighten_2: #FFB74D;
$orange_lighten_1: #FFA726;

$orange_darken_1: #FB8C00;
$orange_darken_2: #F57C00;
$orange_darken_3: #EF6C00;
$orange_darken_4: #E65100;

$orange_accent_1: #FFD180;
$orange_accent_2: #FFAB40;
$orange_accent_3: #FF9100;
$orange_accent_4: #FF6D00;

/*brown*/
$brown: #795548;

$brown_lighten_5: #EFEBE9;
$brown_lighten_4: #D7CCC8;
$brown_lighten_3: #BCAAA4;
$brown_lighten_2: #A1887F;
$brown_lighten_1: #8D6E63;

$brown_darken_1: #6D4C41;
$brown_darken_2: #5D4037;
$brown_darken_3: #4E342E;
$brown_darken_4: #3E2723;

/*blue grey*/
$blue_grey: #607D8B;

$blue_grey_lighten_5: #ECEFF1;
$blue_grey_lighten_4: #CFD8DC;
$blue_grey_lighten_3: #B0BEC5;
$blue_grey_lighten_2: #90A4AE;
$blue_grey_lighten_1: #78909C;

$blue_grey_darken_1: #546E7A;
$blue_grey_darken_2: #455A64;
$blue_grey_darken_3: #37474F;
$blue_grey_darken_4: #263238;

/*grey*/
$grey: #9E9E9E;

$grey_lighten_5: #FAFAFA;
$grey_lighten_4: #F5F5F5;
$grey_lighten_3: #EEEEEE;
$grey_lighten_2: #E0E0E0;
$grey_lighten_1: #BDBDBD;

$grey_darken_1: #757575;
$grey_darken_2: #616161;
$grey_darken_3: #424242;
$grey_darken_4: #212121;

$grey_background: #efefef;

/*shades*/
$black: #000000;
$white: #FFFFFF;