.light {
  --background-color: #f2f5fa!important;
  --appbar-color: #fff!important;
  --sidebar-color: #0d1625;
  --card-color: #fff;
  --sheet-color: #0d1625;
  --modal-body-color: #f2f5fa;
}

.dark {
  --background-color: #000!important;
  --appbar-color: #000;
  --sidebar-color: #1E1E1E;
  --card-color: #1E1E1E;
  --modal-body-color: #000;
}